@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div class="page-body">
	<div class="index-body">
		<div class="card ">
			<img src="~/Images/categories2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h1 class="card-title">Categories</h1>
				<p class="card-text">from here you can go and see our categories, add, edit and delete.</p>
				<a asp-page="/Categories" class="btn btn-primary">Go</a>
			</div>
		</div>
		<div class="card ">
			<img src="~/Images/recipes2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h1 class="card-title">Recipes</h1>
				<p class="card-text">from here you can go and see our recipes, add, edit and delete.</p>
				<a asp-page="/Recipes" class="btn btn-primary">Go</a>
			</div>
		</div>
	</div>
</div>

