<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Mena's restaurant </title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	@*       sweet alert    *@
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/Scripts/jquery.min.js">	</script>
	@*          alpine      *@
	<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<!-- @*sweet alert scripts*@
	<script src="~/Scripts/sweetalert2.all.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://lipis.github.io/bootstrap-sweetalert/lib/sweet-alert.js"></script>
	<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
	@* end of sweet alert scripts*@ -->
</head>
<body>
	<div class="page-background">
		<header>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
				<div class="container">
					<a class="navbar-brand" asp-area="" asp-page="/Index"> Mena's restaurant</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link @if(ViewData["active"]=="Categories"){
								<text>active</text>
							}" asp-area="" asp-page="/Categories">Categories</a>
							</li>
							<li class="nav-item">
								<a class="nav-link @if(ViewData["active"]=="Recipes"){
								<text>active</text>
							}" asp-area="" asp-page="/Recipes">Recipes</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		@RenderBody()

		<footer class="border-top footer text-muted">
			<div class="container">
				&copy; 2022 - Mena's restaurant
			</div>
		</footer>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
	<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
		'use strict'

		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		var forms = document.querySelectorAll('.needs-validation')

		// Loop over them and prevent submission
		Array.prototype.slice.call(forms)
			.forEach(function(form) {
				form.addEventListener('submit', function(event) {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}

					form.classList.add('was-validated')
				}, false)
			})
	})()
</script>
</body>
</html>
